# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.DS_Store
*.log


# Virtual env
.venv/
.env


# Data & models (tracked via .gitkeep only)
data/
models/


# Notebooks checkpoints
.notebooks/
.ipynb_checkpoints/


# Streamlit
.streamlit/


# VSCode
.vscode/